<h1>關於我們</h1>
<!-- <a href="/contact">關於</a> -->
<!-- <%= link_to "關於","/contact"%> -->
<!-- <%= link_to "關於",contact_path%> -->
<%= link_to "about", contact_path %>
<!-- =>通常會使用這種方式去寫之後在routes裡面的連結裡面用path+符號進行變更網址名稱而且他是個方法寫錯就錯了 -->
<!-- <%= link_to "關於","contact_url"%> 在需要分享連結網址給別人的時候需要用這種方式 -->
